@use '../abstracts/colors' as color;
@use '../abstracts/breakpoints' as media;

.introduction {
    max-width: 121.6rem;
    margin: 10rem auto 0;
    font-family: 'Archivo', sans-serif; 

    @include media.desktops {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__text {
        padding: 0 3rem;
        max-width: 70rem;
        margin: 0 auto;

        @include media.tablets {
            text-align: center;
        }

        @include media.desktops {
            text-align: left;
            max-width: 100%;
            margin: 0;
            flex: 1;
        }

        * {
            transition: all .3s;
        }

        span {
            font-size: 1.2rem;
            color: #cccccc;

            @include media.mobile {
                font-size: 1.5rem;
            }

            @include media.tablets {
                font-size: 1.8rem;
            }

            @include media.desktops {
                font-size: 2rem;
            }
        }

        h1 {
            margin: 1rem 0 0;
            font-size: 2.5rem;
            white-space: nowrap;
            overflow: hidden;
            width: 18ch;
            animation: typing 3s steps(17) infinite alternate, 
                       pulse .5s infinite alternate;
            border-right: 5px solid color.$primary-color;

            @include media.mobile {
                font-size: 3.3rem;
            }

            @include media.tablets {
                font-size: 4.5rem;
                margin: 2rem auto 0;
            }

            @include media.desktops {
                font-size: 5.5rem;
                margin: 2rem 0 0;
            }

            span {
                font-size: inherit;
                color: color.$primary-color;
            }
        }
        
        @keyframes typing {
            0% {
              width: 0;
            }

            10% {
                width: 0;
            }

            80% {
              width: 17ch;
            }

            90% {
                width: 17ch;
            }

            100% {
                width: 17ch;
            }
          }
        
        @keyframes pulse {
            50% {
                border-color: transparent;
            }
        }

        p {
            margin-top: 1.5rem;
            font-size: 1.2rem;
            line-height: 1.7;

            @include media.mobile {
                font-size: 1.5rem;
            }

            @include media.tablets {
                font-size: 1.8rem;
            }

            @include media.desktops {
                font-size: 2rem;
            }
        }
    }

    &__container-image {
        display: none;
        text-align: center;

        @include media.desktops {
            display: block;
            flex: 1;

            img {
                width: 70%;
                transition: transform 0.6s;
                animation: float 3s ease-in-out infinite;
            }
        }
    }

    @keyframes float {
        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-20px);
        }

        100% {
            transform: translateY(0);
        }
    }
}