@use '../abstracts/colors' as color;
@use '../abstracts/breakpoints' as media;

.projects {
    max-width: 121.6rem;
    margin: 10rem auto 0;
    font-family: 'Archivo', sans-serif;
    padding: 0 4rem;

    &__title {
        font-size: 3rem;
        max-width: max-content;

        &::after {
            content: "";
            display: block;
            width: 75%;
            height: 0.3rem;
            border-radius: 2rem;
            margin-top: 0.8rem;
            background-image: linear-gradient(90deg, #794fdb 0%, #4f22b9 92.32%);
        }
    }

    &__container {
        margin-top: 6rem;
        display: grid;
        gap: 7rem;

        @include media.tablets {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 6rem;
        }
    }

    &__project {
        width: 100%;
        display: flex;
        flex-direction: column;
        border: 2px solid #1b1b1b;
        border-radius: 2rem;
        margin: 0 auto;
    }

    .project__images {
        border-radius: 2rem 2rem 0 0;
        height: 20rem;
        background-repeat: no-repeat;
        background-position: top;
        transition: all 1.2s ease 0s;

        &:hover {
            background-position: bottom;
        }

        @include media.laptops {
            height: 280px;
        }
    }

    .projects__container .projects__project:nth-child(1) .project__images {
        background-image: url('../images/projects/projeto_01.png');
        background-size: 130%;
    }

    .projects__container .projects__project:nth-child(2) .project__images {
        background-image: url('../images/projects/projeto_02.png');
        background-size: 100%;
    }

    .projects__container .projects__project:nth-child(3) .project__images {
        background-image: url('../images/projects/projeto_03.png');
        background-size: 100%;
    }

    .projects__container .projects__project:nth-child(4) .project__images {
        background-image: url('../images/projects/projeto_04.png');
        background-size: 120%;
    }

    .projects__container .projects__project:nth-child(5) .project__images {
        background-image: url('../images/projects/projeto_05.png');
        background-size: 130%;
    }

    @include media.tablets {
        .projects__container .projects__project:last-child:nth-child(odd)  {
            max-width: 53.8rem;
            grid-column: span 2;
        }
    }

    .project__texts {
        padding: 4rem 3rem;
        background-color: color.$dark-20;
        border-radius: 0 0 2rem 2rem;

        .project__technologies {
            font-size: 1.4rem;
            color: #cccccc;
        }

        .project__title {
            margin-top: 1.5rem;
            font-size: 2rem;

            @include media.mobile {
                font-size: 2.5rem;
            }
        }
    }

    .project__container-links {
        margin-top: 3rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;

        .project__link {
            display: flex;
            gap: 1rem;
            font-size: 1.6rem;
            border: 2px solid #FFF;
            padding: 1rem;
            border-radius: 1rem;
            transition: all .3s;

            &:hover {
                background-color: #6421d8;
                border-color: #6421d8;
            }

            &:active {
                border-color: #7132dd86;
                background-color: #7132dd86;
            }
        }
    }
}

.white .projects__title {
    color: color.$dark-10;
}

.white .projects__project {
    border-color: #dddddd;
}

.white .project__texts {
    background-color: #FFF;

    .project__technologies,
    .project__link {
        color: #4e4e4e;
    }

    .project__title {
        color: color.$dark-10;
    }

    .project__link  {
        border: 2px solid color.$dark-10;
        color: color.$dark-20;
        font-weight: 600;

        &:hover {
            color: white;
        }
    }
}