@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #161618;
  color: #FFF;
}

.white {
  background-color: #e4e4e4;
}

body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #101011;
}

body::-webkit-scrollbar-thumb {
  background-color: #1C1C1F;
  border-radius: 20px;
  border: 2px solid #101011;
}

a {
  text-decoration: none;
  color: #FFF;
  transition: all 0.3s;
}
a:visited {
  color: #FFF;
}
a:active {
  color: #dbdbdb;
}

.header {
  background-color: #1C1C1F;
  border-bottom: 0.1rem solid #8946ff;
}
.header__content {
  max-width: 121.6rem;
  margin: 0 auto;
  padding: 3rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__brand {
  font-size: 2.5rem;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
}
.header__brand span:nth-child(1) {
  color: #8946ff;
}
.header__brand span:nth-child(2) {
  margin-left: -0.3rem;
}
.header .themeToggle {
  color: #bbb;
  width: 3em;
}
.header .sunMoon {
  transition: all 1s;
}
.header .st-sunMoonThemeToggleBtn {
  position: relative;
  cursor: pointer;
}
.header .st-sunMoonThemeToggleBtn .themeToggleInput {
  opacity: 0;
  width: 100%;
  aspect-ratio: 1;
}
.header .st-sunMoonThemeToggleBtn svg {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease;
  transform: rotate(40deg);
}
.header .st-sunMoonThemeToggleBtn svg .sunMoon {
  transform-origin: center center;
  transition: inherit;
  transform: scale(1);
}
.header .st-sunMoonThemeToggleBtn svg .sunRay {
  transform-origin: center center;
  transform: scale(0);
}
.header .st-sunMoonThemeToggleBtn svg mask > circle {
  transition: transform 0.64s cubic-bezier(0.41, 0.64, 0.32, 1.575);
  transform: translate(0px, 0px);
}
.header .st-sunMoonThemeToggleBtn svg .sunRay2 {
  animation-delay: 0.05s !important;
}
.header .st-sunMoonThemeToggleBtn svg .sunRay3 {
  animation-delay: 0.1s !important;
}
.header .st-sunMoonThemeToggleBtn svg .sunRay4 {
  animation-delay: 0.17s !important;
}
.header .st-sunMoonThemeToggleBtn svg .sunRay5 {
  animation-delay: 0.25s !important;
}
.header .st-sunMoonThemeToggleBtn svg .sunRay5 {
  animation-delay: 0.29s !important;
}
.header .st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg {
  transform: rotate(90deg);
}
.header .st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg mask > circle {
  transform: translate(16px, -3px);
}
.header .st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg .sunMoon {
  transform: scale(0.55);
}
.header .st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg .sunRay {
  animation: showRay1832 0.4s ease 0s 1 forwards;
}
@keyframes showRay1832 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.white .header {
  background-color: #ebebeb;
}

.white .header__brand span:nth-child(2) {
  color: #1C1C1F;
}

.white .themeToggle {
  color: rgb(56, 56, 56);
}

.introduction {
  max-width: 121.6rem;
  margin: 10rem auto 0;
  font-family: "Archivo", sans-serif;
  overflow-x: hidden;
}
@media (width >= 1200px) {
  .introduction {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.introduction__text {
  padding: 0 3rem;
  max-width: 70rem;
  margin: 0 auto;
}
@media (width >= 768px) {
  .introduction__text {
    text-align: center;
  }
}
@media (width >= 1200px) {
  .introduction__text {
    text-align: left;
    max-width: 100%;
    margin: 0;
    flex: 1;
  }
}
.introduction__text * {
  transition: all 0.3s;
}
.introduction__text span {
  font-size: 1.2rem;
  color: #cccccc;
}
@media (width > 360px) {
  .introduction__text span {
    font-size: 1.5rem;
  }
}
@media (width >= 768px) {
  .introduction__text span {
    font-size: 1.8rem;
  }
}
@media (width >= 1200px) {
  .introduction__text span {
    font-size: 2rem;
  }
}
.introduction__text h1 {
  margin: 1rem 0 0;
  font-size: 2.5rem;
  white-space: nowrap;
  overflow: hidden;
  width: 18ch;
  animation: typing 3s steps(17) infinite alternate, pulse 0.5s infinite alternate;
  border-right: 5px solid #8946ff;
}
@media (width > 360px) {
  .introduction__text h1 {
    font-size: 3.3rem;
  }
}
@media (width >= 768px) {
  .introduction__text h1 {
    font-size: 4.5rem;
    margin: 2rem auto 0;
  }
}
@media (width >= 1200px) {
  .introduction__text h1 {
    font-size: 5.5rem;
    margin: 2rem 0 0;
  }
}
.introduction__text h1 span {
  font-size: inherit;
  color: #8946ff;
}
@keyframes typing {
  0% {
    width: 0;
  }
  10% {
    width: 0;
  }
  80% {
    width: 17ch;
  }
  90% {
    width: 17ch;
  }
  100% {
    width: 17ch;
  }
}
@keyframes pulse {
  50% {
    border-color: transparent;
  }
}
.introduction__text p {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  line-height: 1.7;
}
@media (width > 360px) {
  .introduction__text p {
    font-size: 1.5rem;
  }
}
@media (width >= 768px) {
  .introduction__text p {
    font-size: 1.8rem;
  }
}
@media (width >= 1200px) {
  .introduction__text p {
    font-size: 2rem;
  }
}
.introduction__container-image {
  display: none;
  text-align: center;
}
@media (width >= 1200px) {
  .introduction__container-image {
    display: block;
    flex: 1;
    position: relative;
    left: 4rem;
  }
  .introduction__container-image img {
    width: 70%;
    transition: transform 0.6s;
    animation: float 3s ease-in-out infinite;
  }
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.white .introduction__text span,
.white .introduction__text p {
  color: #161618;
}

.white .introduction__text h1 {
  color: #1C1C1F;
}

.projects {
  max-width: 121.6rem;
  margin: 10rem auto 0;
  font-family: "Archivo", sans-serif;
  padding: 0 4rem;
}
.projects__title {
  font-size: 3rem;
  max-width: max-content;
}
.projects__title::after {
  content: "";
  display: block;
  width: 75%;
  height: 0.3rem;
  border-radius: 2rem;
  margin-top: 0.8rem;
  background-image: linear-gradient(90deg, #794fdb 0%, #4f22b9 92.32%);
}
.projects__container {
  margin-top: 6rem;
  display: grid;
  gap: 7rem;
}
@media (width >= 768px) {
  .projects__container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 6rem;
  }
}
.projects__project {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 2px solid #1b1b1b;
  border-radius: 2rem;
  margin: 0 auto;
}
.projects .project__images {
  border-radius: 2rem 2rem 0 0;
  height: 20rem;
  background-repeat: no-repeat;
  background-position: top;
  transition: all 1.5s ease 0s;
}
.projects .project__images:hover {
  background-position: bottom;
}
@media (width >= 992px) {
  .projects .project__images {
    height: 280px;
  }
}
.projects .projects__container .projects__project:nth-child(1) .project__images {
  background-image: url("../images/projects/projeto_01.png");
  background-size: 100%;
}
.projects .projects__container .projects__project:nth-child(2) .project__images {
  background-image: url("../images/projects/projeto_02.png");
  background-size: 100%;
}
.projects .projects__container .projects__project:nth-child(3) .project__images {
  background-image: url("../images/projects/projeto_03.png");
  background-size: 100%;
}
.projects .projects__container .projects__project:nth-child(4) .project__images {
  background-image: url("../images/projects/projeto_04.png");
  background-size: 120%;
}
.projects .projects__container .projects__project:nth-child(5) .project__images {
  background-image: url("../images/projects/projeto_05.png");
  background-size: 130%;
}
.projects .projects__container .projects__project:nth-child(6) .project__images {
  background-image: url("../images/projects/projeto_06.png");
  background-size: 100%;
}
@media (width >= 768px) {
  .projects .projects__container .projects__project:last-child:nth-child(odd) {
    max-width: 53.8rem;
    grid-column: span 2;
  }
}
.projects .project__texts {
  padding: 4rem 3rem;
  background-color: #1C1C1F;
  border-radius: 0 0 2rem 2rem;
}
.projects .project__texts .project__technologies {
  font-size: 1.4rem;
  color: #cccccc;
}
.projects .project__texts .project__title {
  margin-top: 1.5rem;
  font-size: 2rem;
}
@media (width > 360px) {
  .projects .project__texts .project__title {
    font-size: 2.5rem;
  }
}
.projects .project__container-links {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.projects .project__container-links .project__link {
  display: flex;
  gap: 1rem;
  font-size: 1.6rem;
  border: 2px solid #FFF;
  padding: 1rem;
  border-radius: 1rem;
  transition: all 0.3s;
}
.projects .project__container-links .project__link:hover {
  background-color: #6421d8;
  border-color: #6421d8;
}
.projects .project__container-links .project__link:active {
  border-color: rgba(113, 50, 221, 0.5254901961);
  background-color: rgba(113, 50, 221, 0.5254901961);
}

.white .projects__title {
  color: #161618;
}

.white .projects__project {
  border-color: #dddddd;
}

.white .project__texts {
  background-color: #FFF;
}
.white .project__texts .project__technologies,
.white .project__texts .project__link {
  color: #4e4e4e;
}
.white .project__texts .project__title {
  color: #161618;
}
.white .project__texts .project__link {
  border: 2px solid #161618;
  color: #1C1C1F;
  font-weight: 600;
}
.white .project__texts .project__link:hover {
  color: white;
}

.footer {
  margin-top: 15rem;
  padding: 5rem 3rem;
  background-color: #1C1C1F;
  text-align: center;
  font-family: "Archivo", sans-serif;
}
.footer p {
  font-size: 1.6rem;
  line-height: 3rem;
  font-weight: 500;
}
.footer img {
  margin-top: 1rem;
  width: 15rem;
}
@media (width >= 768px) {
  .footer img {
    width: 25rem;
  }
}
.footer a {
  color: #8946ff;
}

.white .footer {
  background-color: #ebebeb;
}
.white .footer p {
  color: #161618;
  font-weight: 600;
  font-size: 1.8rem;
}

/*# sourceMappingURL=app.css.map */
