@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #161618;
  color: #FFF;
}

a {
  text-decoration: none;
  color: #FFF;
  transition: all 0.3s;
}
a:visited {
  color: #FFF;
}
a:active {
  color: #dbdbdb;
}

.header {
  background-color: #1C1C1F;
  border-bottom: 0.1rem solid #8946ff;
}
.header__content {
  max-width: 121.6rem;
  margin: 0 auto;
  padding: 3rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__brand {
  font-size: 2.5rem;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
}
.header__brand span:nth-child(1) {
  color: #8946ff;
}
.header__brand span:nth-child(2) {
  margin-left: -0.3rem;
}
.header .themeToggle {
  color: #bbb;
  width: 3em;
}
.header .sunMoon {
  transition: all 1s;
}
.header .st-sunMoonThemeToggleBtn {
  position: relative;
  cursor: pointer;
}
.header .st-sunMoonThemeToggleBtn .themeToggleInput {
  opacity: 0;
  width: 100%;
  aspect-ratio: 1;
}
.header .st-sunMoonThemeToggleBtn svg {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.4s ease;
  transform: rotate(40deg);
}
.header .st-sunMoonThemeToggleBtn svg .sunMoon {
  transform-origin: center center;
  transition: inherit;
  transform: scale(1);
}
.header .st-sunMoonThemeToggleBtn svg .sunRay {
  transform-origin: center center;
  transform: scale(0);
}
.header .st-sunMoonThemeToggleBtn svg mask > circle {
  transition: transform 0.64s cubic-bezier(0.41, 0.64, 0.32, 1.575);
  transform: translate(0px, 0px);
}
.header .st-sunMoonThemeToggleBtn svg .sunRay2 {
  animation-delay: 0.05s !important;
}
.header .st-sunMoonThemeToggleBtn svg .sunRay3 {
  animation-delay: 0.1s !important;
}
.header .st-sunMoonThemeToggleBtn svg .sunRay4 {
  animation-delay: 0.17s !important;
}
.header .st-sunMoonThemeToggleBtn svg .sunRay5 {
  animation-delay: 0.25s !important;
}
.header .st-sunMoonThemeToggleBtn svg .sunRay5 {
  animation-delay: 0.29s !important;
}
.header .st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg {
  transform: rotate(90deg);
}
.header .st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg mask > circle {
  transform: translate(16px, -3px);
}
.header .st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg .sunMoon {
  transform: scale(0.55);
}
.header .st-sunMoonThemeToggleBtn .themeToggleInput:checked + svg .sunRay {
  animation: showRay1832 0.4s ease 0s 1 forwards;
}
@keyframes showRay1832 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.introduction {
  max-width: 121.6rem;
  margin: 10rem auto 0;
  font-family: "Archivo", sans-serif;
  text-align: center;
}
@media (width >= 1200px) {
  .introduction {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.introduction__text {
  padding: 0 4rem;
  max-width: 70rem;
  margin: 0 auto;
}
@media (width >= 1200px) {
  .introduction__text {
    text-align: left;
    max-width: 100%;
    margin: 0;
    flex: 1;
  }
}
.introduction__text * {
  transition: all 0.3s;
}
.introduction__text span {
  font-size: 1.6rem;
  color: #cccccc;
}
@media (width >= 768px) {
  .introduction__text span {
    font-size: 1.8rem;
  }
}
@media (width >= 1200px) {
  .introduction__text span {
    font-size: 2rem;
  }
}
.introduction__text h1 {
  margin-top: 1rem;
  font-size: 4rem;
  white-space: nowrap;
  overflow: hidden;
  width: 18ch;
  animation: typing 3s steps(17) infinite alternate, pulse 0.5s infinite alternate;
  border-right: 5px solid #8946ff;
}
@media (width >= 768px) {
  .introduction__text h1 {
    font-size: 4.5rem;
  }
}
@media (width >= 1200px) {
  .introduction__text h1 {
    font-size: 5.5rem;
  }
}
.introduction__text h1 span {
  font-size: inherit;
  color: #8946ff;
}
@keyframes typing {
  0% {
    width: 0;
  }
  10% {
    width: 0;
  }
  80% {
    width: 17ch;
  }
  90% {
    width: 17ch;
  }
  100% {
    width: 17ch;
  }
}
@keyframes pulse {
  50% {
    border-color: transparent;
  }
}
.introduction__text p {
  margin-top: 2rem;
  font-size: 1.6rem;
  line-height: 1.7;
}
@media (width >= 768px) {
  .introduction__text p {
    font-size: 1.8rem;
  }
}
@media (width >= 1200px) {
  .introduction__text p {
    font-size: 2rem;
  }
}
.introduction__container-image {
  display: none;
}
@media (width >= 1200px) {
  .introduction__container-image {
    display: block;
    flex: 1;
  }
  .introduction__container-image img {
    width: 70%;
    transition: transform 0.6s;
    animation: float 3s ease-in-out infinite;
  }
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/*# sourceMappingURL=app.css.map */
